@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background-color: black;
}

h1 {
  color: white;
  letter-spacing: 5px;
  font-family: "Poppins", sans-serif;
}
#photo {
  width: 1500px;
  height: 400px;
  background-image: url(maxresdefault.jpg);
  background-repeat: no-repeat;
  margin-top: 100px;
}
nav a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  font-size: 40px;
  margin: 0 10px;
  margin-top: 500px;
}
nav a:hover {
  color: purple;
}
nav {
  padding-top: 150px;
}
#aaa {
  border: solid white;
  color: white;
  width: 250px;
  font-size: 22px;
}
#aaa3 {
  margin-left: 800px;
  border: 1px solid grey;
  padding-left: 15px;
}
#aaa2 {
  border: 1px solid grey;
}
label {
  color: white;
}

table,
td {
  border: 2px solid grey;
}
footer {
  color: white;
  margin-top: 150px;
}
